ul {
  padding-left: 0;
  list-style: none;
}

select {
  width: 200px;
}

.btn-xs {
  margin-left: 10px;
}

form {
  margin: 20px 0;
}

.email-display {
  border: 2px solid black;
  padding: 10px;
  margin: 20px 0;
}

label {
  display: none;
}

table {
  margin: 15px 0;
  border: 1px solid gray;
}

th, td {
  width: 200px;
  padding: 3px 7px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
