<div class="container">

  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'emails'}}Inbox{{/link-to}}</li>
      <li>{{#link-to 'folders'}}Folders{{/link-to}}</li>
      <li>{{#link-to 'new-folder'}}New Folder{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
