<h1>Inbox</h1>
<ul>
  {{#each email in model}}
    <li>{{#link-to 'email' email.id}}{{email.from}} - {{email.title}}{{/link-to}}</li>
  {{/each}}
</ul>
<p>{{#link-to 'new-email' classNames="btn btn-default"}}New Message{{/link-to}}</p>
