<h1>{{title}}</h1>

<table>
  {{#each email in emails}}
    <tr>
      {{#link-to 'email' email.id}}
        <td>{{email.from}}</td>
        <td>{{email.title}}</td>
      {{/link-to}}
    </tr>
  {{/each}}
</table>
